@font-face {
   font-family: 'Cormorant Regular';
   src: url('/source/fonts/cormorant/Cormorant-Bold.eot');
   src: url('/source/fonts/cormorant/Cormorant-Bold.eot') format('embedded-opentype'),
   url('/source/fonts/cormorant/Cormorant-Regular.woff') format('woff'),
   url('/source/fonts/cormorant/Cormorant-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Cormorant Bold';
   src: url('/source/fonts/cormorant/Cormorant-Bold.eot');
   src: url('/source/fonts/cormorant/Cormorant-Bold.eot') format('embedded-opentype'),
   url('/source/fonts/cormorant/Cormorant-Regular.woff') format('woff'),
   url('/source/fonts/cormorant/Cormorant-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Cormorant Medium';
   src: url('/source/fonts/cormorant/Cormorant-Medium.eot');
   src: url('/source/fonts/cormorant/Cormorant-Medium.eot') format('embedded-opentype'),
   url('/source/fonts/cormorant/Cormorant-Medium.woff') format('woff'),
   url('/source/fonts/cormorant/Cormorant-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Cormorant Semibold';
   src: url('/source/fonts/cormorant/Cormorant-SemiBold.eot');
   src: url('/source/fonts/cormorant/Cormorant-SemiBold.eot') format('embedded-opentype'),
   url('/source/fonts/cormorant/Cormorant-SemiBoldItalic.woff') format('woff'),
   url('/source/fonts/cormorant/Cormorant-SemiBold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   }